spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/cart}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
